<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">

	<resultMap type="comment" id="commentMap">
		<result property="commentNo" column="comment_no" jdbcType="INTEGER"/>
		<result property="boardNo" column="board_no" jdbcType="INTEGER"/>
		<result property="commentTime" column="comm_time" jdbcType="DATE"/>
		<result property="commentContent" column="comm_content" jdbcType="VARCHAR"/>
		
		<association property="user" javaType="user">
			<id property="userId" column="user_id" jdbcType="VARCHAR"/>
		</association>
	</resultMap>

	<insert id="insertComment" parameterType="comment">
		INSERT
		INTO COMMENT (user_id, board_no, comm_time, comm_content)
		VALUES ( <!--#{user.userId}-->'user06', #{boardNo}, #{commentTime}, #{commentContent} )
	</insert>
	
	<update id="updateComment" parameterType="comment">
		UPDATE COMMENT
		SET comm_time=#{commentTime}, comm_content=#{commentContent}
		WHERE comment_no=#{commentNo}
	</update>
	
	<select id="getCommentList" parameterType="list" resultMap="commentMap">
		SELECT
		comment_no, board_no, user_id, comment_time, comment_content
		FROM COMMENT
	</select>
	
	<delete id="deleteComment" parameterType="int">
		DELETE
		FROM COMMENT
		WHERE comment_no=#{value}
	</delete>
	
	<select id="getCommentCount" resultType="int">
		SELECT
		COUNT(*)
		FROM COMMENT
		WHERE board_no=#{value}
	</select>
</mapper>