<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">
<resultMap id="NoticeSelectMap" type="notice">
<result property="noticeNo" column="notice_no" jdbcType="NUMERIC" />
<result property="senderId" 	column="sender_id"  jdbcType="VARCHAR"/>
<result property="receiverId" 	column="receiver_id"  jdbcType="VARCHAR"/>
<result property="otherPk" 	column="otherPk"  jdbcType="NUMERIC"/>
<result property="flag" 	column="notice_flag"  jdbcType="NUMERIC"/>
<result property="masterNo" 	column="master_no"  jdbcType="NUMERIC"/>
<result property="noticeCode" 	column="notice_code"  jdbcType="NUMERIC"/>
</resultMap>

<insert id="addNotice" parameterType="notice">
INSERT
INTO Notice ( sender_id , receiver_id , master_no , notice_flag , otherPk )
VALUES(	 #{senderId} , #{receiverId} , #{masterNo} , #{flag} , #{ )
</insert>

<select id="getNoticeList" parameterType="java.util.HashMap" resultMap="NoticeSelectMap">
 SELECT sender_id , receiver_id , master_no , notice_flag , otherPk , notice_code
 FROM notice WHERE receiver_id like '%' || #{userId} || '%'
</select>

</mapper>













