<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScheduleMapper">
	<resultMap id="scheduleSelectMap"              type="schedule" >
		<result property="scheduleNo" 					column="schedule_no"                                jdbcType="INTEGER"/>
		<result property="userId" 								column="user_id"                                          jdbcType="VARCHAR"/>
		<result property="scheduleDate" 				column="schedule_date" 		                       jdbcType="DATE" />
		<result property="scheduleImg" 					column="schedule_img" 		                       jdbcType="VARCHAR" />
		<result property="scheduleTitle" 				column="schedule_title" 		                       jdbcType="VARCHAR" />
		<result property="scheduleReview"			column="schedule_review"   				       jdbcType="VARCHAR"/>
		<result property="hashTag"  						column="hashtag"   						               jdbcType="VARCHAR"/>
		<result property="scheduleCreateTime"   column="schedule_createtime"   			       jdbcType="DATE"/>
		<result property="scheduleModifyTime"   column="schedule_modifytime"   		       jdbcType="DATE"/>
		<result property="openRange"					column="open_range"   		                       jdbcType="VARCHAR"/>
		<result property="startHour" 	                    column="starthour" 	                                   jdbcType="DATE" />
		<result property="endHour" 			            column="endhour" 		                                   jdbcType="DATE" />
		<result property="scheduleDetail"				column="schedule_detail"   		                   jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="waypointSelectMap"               type="waypoint">
		<result property="wayPointNo" 			   		column="waypoint_no" 					     jdbcType="INTEGER"/>
		<result property="scheduleNo" 			   		column="schedule_no" 					     jdbcType="INTEGER"/>
		<result property="wayPointTitle"	     		    column="waypoint_title" 			         jdbcType="VARCHAR" />
		<result property="wayPointImg"	     			column="waypoint_img" 		             jdbcType="VARCHAR" />
		<result property="wayPointX" 						column="waypoint_x" 					     jdbcType="DECIMAL"  />
		<result property="wayPointY" 						column="waypoint_y" 					     jdbcType="DECIMAL"/>
		<result property="wayPointAddress" 	        column="waypoint_address" 	         jdbcType="VARCHAR" />
		<result property="wayPointDetail" 	            column="waypoint_detail" 		             jdbcType="VARCHAR" />
		<result property="stayTime" 					    column="stayTime" 			                 jdbcType="INTEGER" />
		<result property="moveTime" 	                    column="moveTime"                          jdbcType="INTEGER" />
		<result property="transportationCode" 		column="transportation_code"   		 jdbcType="VARCHAR"/>
		<result property="wayPointNav" 		            column="waypoint_nav"   		             jdbcType="VARCHAR"/>
        <result property="wayPointStartHour" 		column="waypoint_starthour" 			 jdbcType="DATE" />
		<result property="wayPointEndHour" 	    column="waypoint_endhour"             jdbcType="DATE" />
	</resultMap>
	
	<!-- 1. 일정을 추가하기 위한 메서드 -->
	<insert id="addSchedule" parameterType="schedule">
		INSERT
		INTO schedule (
			user_id, 
			schedule_date, 
			schedule_img, 
			schedule_title, 
			hashtag,
			schedule_createtime,
			schedule_modifytime,
			open_range,
			transportation_code,
			starthour,
			schedule_detail) 
		VALUES (
			#{userId:VARCHAR},
			#{scheduleDate:DATE},
			#{scheduleImg:VARCHAR},
			#{scheduleTitle:VARCHAR},
			'',
			now(),
			now(),
			#{openRange:VARCHAR},
			#{transportationCode:VARCHAR},
			#{startHour:DATE},
			#{scheduleDetail:VARCHAR})
	</insert>
	
	<!-- 2. 경유지를 추가하기 위한 메서드 -->
	<insert id="addWayPoint" parameterType="waypoint">
		INSERT INTO waypoint
			(waypoint_no,
			schedule_no,
			waypoint_title,
			waypoint_img,
			waypoint_x, 
			waypoint_y, 
			waypoint_address,
			waypoint_detail,
			staytime,
			movetime,
			waypoint_nav,
			waypoint_starthour,
			waypoint_endhour)
		VALUES
			(#{wayPointNo:INTEGER},
			LAST_INSERT_ID(), 
			#{wayPointTitle:VARCHAR},
			#{wayPointImg:VARCHAR},  
			#{wayPointX:DECIMAL}, 
			#{wayPointY:DECIMAL}, 
			#{wayPointAddress:VARCHAR},  
			#{wayPointDetail:VARCHAR},
			#{stayTime:DATE},
			#{moveTime:DATE},
			#{wayPointNav:VARCHAR},
			#{wayPointStartHour},
			#{wayPointEndHour})
	</insert>
	
	<!-- 3. 일정 상세보기(일정) --> 
	<select id="getSchedule" parameterType="Int" resultMap="scheduleSelectMap">
		SELECT * 
		FROM
		schedule
		WHERE schedule_no = #{value}
		limit 0, 1;
	</select>
	
	<!-- 4. 일정 상세보기(경유지) --> 
	<select id="getWayPoint" parameterType="Int" resultMap="waypointSelectMap">
		SELECT w.* 
		FROM
		schedule s, waypoint w
		WHERE s.schedule_no = w.schedule_no
		AND s.schedule_no = #{value}
	</select>
	
	<!-- 5. 일정에 해쉬태그 추가하기 -->
	<update id="updateHashTag" parameterType="String">
		UPDATE schedule 
		SET hashtag = CONCAT(hashtag, CONCAT('#',#{keyword}) ) 
		WHERE schedule_no 
		IN (SELECT * FROM ( SELECT MAX(schedule_no) FROM schedule) AS a ) 
	</update>		

</mapper>