@charset "EUC-KR";

@media only screen and (max-width : 600px) {
	
	
	@keyframes appears-small-device {
    0%   {opacity : 0; left:25%; top:24.5%;}
    100% {opacity : 1; left:25%; top:25%;}
	}
	
	@keyframes appears-small-small-device {
	    0%   {opacity : 0; left:25%; top:34.5%;}
	    100% {opacity : 1; left:25%; top:35%;}
	}
	
	.disabled{
	pointer-events: none;
	}
		
	.head-section {
		display:none;
	}
	
	.header-box{
		width : 100%;
	}
	
	.head-section-small{
		display: block;
		position: absolute;
		top : 0px;
		width : 100%;
	}
	
	.fix-box-small{
		display:flex;
		justify-content: space-between;
	/* 	border-bottom: 10px solid #404548; */
		height:50px;
		box-shadow:2px 2px 3px 0px #2323234f;
		transition : all 1s;
	 	background: linear-gradient(#455973,#2a3f5a);
	 	width:100%;
	 	position:fixed;
	 	z-index:1020;
	}
	
	.title-section-small{
		width:150px;
		height:35px;
		background: rgb(44, 64, 91);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		text-align: center;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
		padding:10px;
		box-shadow : 2px 2px 3px 0px #2323234f;
		position : absolute;
		top : 50px;
		transition : all 1s;
		z-index:9999;
		opacity:0;
		pointer-events : none;
	}
	
	.maincon-small{
		font-size:30px;
		position : absolute;
		left : 30px;
		opacity : 1;
		transition : all 1s;
		top : 8px;
		z-index : 5;
		color : #9fadb9;
	}
	
	.maincon-small:focus{
		color : white;
	}
	
	.middle-section-small{
		position : absolute;
		width : 100%;
		height : 100%;
		top : -10px;
		transition : all 1s;
	}
	
	.searcher-small {
		width: 100%;
		height:70px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity : 1;
		transition : all 1s;		
	}
	
	.searcher-icon-small {
		display:inline-block;
		position:absolute;
		font-size : 15px;
	/* 	left:24px; */
		color: #40556f;
/* 		text-shadow : 1px 1px 0px white; */
		font-weight : 800;
		transition : all 1s;
		top : 28px;
		left : 91px;
		z-index:6;
	}
	
	.searcher-small > input {
		background-color: #9fadb97d;
		border : 1px solid transparent;
		border-radius: 10px;
		height:35px;
		transition : width 1s;
		width : 250px;
		min-width : 200px;
		text-align: center;
		z-index : 5;
		
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: white;
		    opacity: 1; /* Firefox */
		}
		
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: white;
		}
		
		::-ms-input-placeholder { /* Microsoft Edge */
		    color: white;
		}
		
	}
	
	.expand-out{
		position : absolute;
		right : 5px;
		font-size : 20px;
		top : 15px;
		opacity : 1;
		transition : all 1s;
		color : rgb(159, 173, 185);
	}
	
	.expand-out:focus{
		color : white;
	}
	
	.side-section-icons{
		display : flex;
		justify-content: space-evenly;
		font-size : 20px;
		position : absolute;
		width : 100%;
		top : 13px;
		left : 100%;
		transition : all 1s;
		color : rgb(159, 173, 185);
	}
	
	.side-section-icons > span:focus {
		color : white;
	}
	
	.label-box>label {
		display: none;
	}
	.spots-list {
		margin: 0px;
	}
	.spots-list>div {
		height: 75px;
	}
	.spot-icon>img {
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
	}
	.background-video {
		height: 100vh;
	}
	#myVideo {
		transform: translate(40%, 0%);
	}
	.main-text {
		width: 50%;
		height: 50%;
		top: 25%;
		left: 25%;
		animation : appears-small-device 3s; 
	}
	.main-text>div {
		font-size: 3em;
	}
	.small-text {
		width: 50%;
		height: 50%;
		left: 25%;
		top: 35%;
		letter-spacing: 6px;
		animation : appears-small-small-device 3s; 
	}
	.video-button {
		top: 500px;
		right: 35%;
	}
	.first-line {
		margin-bottom: 25px;
	}
	.popular-title {
		margin-top: 150px;
	}
	.post-title {
		font-size: 3.5vw;
	}
	.hashtags {
		font-size: 3vw;
	}
	.list-element {
		height: 200px;
	}
	.empty-boards>div {
		font-size: 7vw;
	}
	.middle-box {
		height: 100px;
		width: 95%;
		left: 2.5%;
	}
	.bluff {
		font-size: 4vw;
		text-align: center;
		text-shadow: 2px 2px 0px #ffffff;
	}
	.bluff>div {
		text-align: center;
		margin-left: 0px;
	}
	.side-section-small {
		position : relative;
		width : 100%;
		height : 100%;
	}
	.squar-back {
		height: 800px;
	}
	.share-campaign {
		font-size: 4vw;
	}
	.schedule-button {
		font-size: 3vw;
	}
	
	.search-log-container{
		height:50px;
	}
	
	.section-title{
		align-items : center;
	}
	
	.menu-title{
		font-size : 20px;
	}
	
	.mini-title{
		font-size : 10px;
	}
	
	.title-flex-box{
		align-items: center;
		margin-bottom : 0px;
	}
}