<div class="list-element" id="ele1">
	<div class="info-box" id="info1">
		<div class="post-title">포스트 제목이 들어간답니다.</div>
		<div class="board-icons">
			<div class="post-likes">
				<span class="glyphicon glyphicon-heart"></span> <span
					class="likes-count">26</span>
			</div>
			<div class="post-reply">
				<span class="glyphicon glyphicon-comment"></span> <span
					class="reply-count">32</span>
			</div>
		</div>
		<div class="hashtags">
			<div class="hashs tag1">#해시태그1</div>
			<div class="hashs tag2">#해시태그2</div>
			<div class="hashs tag3">#해시태그3</div>
			<div class="hashs tag4">#해시태그4</div>
			<div class="hashs tag5">#해시태그5</div>
		</div>
	</div>
</div>